<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/style.css">
  <title>Locro Criollo</title>
</head>

<body>
  <h1>Receta de Locro criollo</h1><br>
  <hr>
  <div style="text-align: center;">
    <img src="../img/locro-criollo.jpg" alt="locro">
  </div> <br>
  <h3>Lista de ingredientes</h3>
  <ul>
  <li>maiz blanco</li>
  <li>calabaza</li>
  <li>choclo</li>
  <li>porotos alubia</li>
  <li>patas de cerdo</li>
  <li>panceta</li>
  <li>chorizo colorado</li>
  <li>pechito de cerdo</li>
  <li>falda</li>
  <li>grasa</li>
  <li>cebolla de verdeo</li>
  <li>condimentos: sal, ají molido, comino, pimentón picante </li>
  </ul>
  <h3>Preparación</h3>
  <ol type="1" >
    <li>Hidrate el maíz y el poroto durante 12 horas</li>
    <li>Pele la calabaza y ralle junto con el choclo</li>
    <li>Corte la patas de chancho por la mitad y condimente con sal.</li>
    <li>Corte la panceta, el chorizo colorado, la falda y el pechito de cerdo en trozos.</li>
    <li>Coloque en una olla la grasa y lleve a fuego. Una vez caliente añada las patas de chancho junto con la panceta,
      el pechito de cerdo y la falda. Una vez doradas las carnes añada el maíz y los porotos junto con el agua donde los
      hidrato, la calabaza rallada, el choclo rallado y el caldo de carne caliente. Condimente con sal gruesa. Cocine
      durante 2 horas aproximadamente.</li>
    <li>Media hora antes de terminar la cocción agregue el chorizo colorado</li></ol>
    <h5>Salsa</h5>
    <ol>
    <li>Pique la cebolla de verdeo.</li>
    <li>Caliente una sartén con la grasa, saltee la cebolla de verdeo y condimente con ají molido, el pimentón picante,
      el comino y la sal, mezcle y añada dos cucharadas de agua fría.</li></ol>
      <br>
    <h5>Presentación</h5>
    <ul>
    <li>Sirva el locro en cazuelas y acompañe con la salsa.</li></ul>
    <br>
    <p>Ver video de la preparación!!!</p><br>
    <div style="text-align: center;">
      <a href=""></a><iframe width="500" height="250" src="https://www.youtube.com/embed/9BlAUXp7Jt0"
        title="Locro rápido y fácil !!! 😋 🇦🇷 🥘" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div> <br>
    <a href="https://elgourmet.com/recetas/locro-criollo/" target="_blank">Leer esta receta en El Gourmet</a><br>
    <a href="receta2.html" target="_self">Leer receta de Pastelitos de Membrillo en La Salteña</a><br>
    <a href="../../index.html">Ir al inicio</a>