<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Empanadas Humitas</title>
</head>

<body>
    <h2>EMPANADAS DE HUMITAS SALTEÑAS</h2><br>
    <hr>
    <div style="text-align: center;">
        <img src="../img/empanadas-de-humita-choclo.jpg" alt="empanadas de humita">
    </div>
    <h3><em>INGREDIENTES</em></h3>
    <h4><strong>MASA:</strong></h4>
    <ul>
    <li>300 gramos de Harina leudante</li>
    <li>150 centímetros cúbicos de Agua</li>
    <li>60 centímetros cúbicos de Aceite de girasol</li>
    <li>1 cucharadita de Sal fina</li>
    <li>1 pizca de Pimienta</li>
    </ul>
    <h4><strong>RELLENO:</strong></h4>
    <ul>
    <li>300 gramos de Maíz</li>
    <li>2 unidades de Cebolla</li>
    <li>30 gramos de Queso rallado</li>
    <li>100 gramos de Manteca</li>
    <li>1 vaso de Leche</li>
    <li>1 cucharada sopera de Harina</li>
    <li>1 cucharadita de Sal</li>
    <li>1 pizca de Pimienta negra</li>
    <li>1 cucharadita de Nuez moscada</li>
    </ul>
    <h3><em>PREPARACIÓN</em></h3>
    <ol type="a">
        <li>Para comenzar con la masa para las empanadas caseras, tomamos un bol y colocamos en él la harina, el agua,
            el aceite, sal y pimienta.</li>
        <li>Mezclamos con las manos para formar la masa. Dejamos reposar mientra preparamos el relleno.</li>
        <li>Para realizar el relleno, picamos las cebollas y las colocamos en una sartén con la manteca
            derretida. Rehogamos hasta que queden transparentes, ¡sin dorar!</li>
        <li>Ahora, incorporamos el maíz y mezclamos. Recuerda que este es el ingrediente principal de la humita.</li>
        <li>Vertemos el vaso de leche sobre la mezcla, manteniendo la hornilla encendida a fuego medio.</li>
        <li>Cuando la leche rompa a hervir, le incorporamos la cucharada de harina. Mezclamos el relleno suavemente con
            una cuchara de madera para que no se hagan grumos.</li>
        <li>Añadimos el queso rallado, sal, pimienta y nuez moscada.</li>
        <li>De esta manera obtenemos un relleno bien cremoso para las empanadas de humita. Dejamos enfriar.</li>
        <li>Por otro lado, estiramos la masa y cortamos las tapas para empezar a formar a las empanadas.</li>
        <li>En este caso, armamos canastitas, pero si lo prefieres puedes darle forma de medialuna o rollito.</li>
        <li>Rellenamos las empanadas presionando bien con una cuchara pequeña para que queden bien gorditas.</li>
        <li>Las colocamos en una placa para horno y cocinamos a 180°C. Una vez que estén doradas las retiramos y las
            servimos bien calientes.</li>
        <p>Las empanadas de humita argentinas son ideales para acompañarlas con una ensalada fresca aunque, también, se
            pueden hacer más pequeñas y servirlas como aperitivo!!!</p>
        <p><strong>PUEDES VER EL VIDEO DE LA PREPARACIÓN AQUÍ!!</strong></p>
        <div style="text-align: center;">
            <a href=""></a><iframe width="500" height="250" src="https://www.youtube.com/embed/2yDPw48ky_c"
                title="Cómo hacer EMPANADAS de HUMITA 🥟 Receta FÁCIL (con choclo cremoso)" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></iframe>
        </div><br>
        <a href="https://www.recetasgratis.net/receta-de-empanadas-de-humita-55673.html" target="_blank">Leer esta
            receta en "Recetas Gratis.net"!!</a><br>
        <a href="receta2.html" target="_self">Leer receta de la deliciosa Mazamorra Argentina!</a><br>
        <a href="../../index.html">Volver al inicio</a>