<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Mazamorra</title>
</head>

<body>
    <h2>RECETA DE MAZAMORRA ARGENTINA</h2> <br>
    <hr>
    <div style="text-align: center;">
        <img src="../img/mazamorra.jpg" alt="Mazamorra">
    </div>
    <h3><em>INGREDIENTES</em></h3>
    <ul>
    <li>200 g de maíz blanco (maíz pisado o maíz para mazamorra)</li>
    <li>1 litro de agua</li>
    <li>1 litro de leche</li>
    <li>200 g de azúcar</li>
    <li>Una rama de canela</li>
    <li>Una cdta de esencia de vainilla</li>
    <li>Ralladura de un limón (opcional)</li>
    </ul>
    <h3><em>PREPARACIÓN</em></h3>
    <ol type="a">
        <li>Lavar bien el maíz blanco y dejarlo en remojo durante al menos 12 horas o toda la noche. Esto ayudará a que
            el maíz se ablande y se cocine más rápido.</li>
        <li>Escurrir el maíz y colocarlo en una olla grande con el litro de agua. Cocinar a fuego medio hasta que el
            maíz esté bien tierno. Este proceso puede tardar entre 1 y 2 horas, dependiendo de la dureza del maíz. Si es
            necesario, agregar más agua durante la cocción para que el maíz siempre esté cubierto.</li>
        <li>Una vez que el maíz está tierno, agregar la leche, el azúcar, la rama de canela y la esencia de vainilla.
        </li>
        <li>Mezclar bien y continuar cocinando a fuego lento, removiendo ocasionalmente para evitar que se pegue.</li>
        <li>Cocinar durante unos 30 minutos más o hasta que la mezcla espese y tome una consistencia cremosa. Si querés,
            agregar la ralladura de limón para un toque de frescura.</li>
        <li>Retirar la rama de canela y dejar enfriar un poco antes de servir. La mazamorra se puede disfrutar tanto
            caliente como fría.</li>
        <li>Opcional: para una versión más rica, se puede agregar una cda de dulce de leche al servir.</li><br>
        <p><strong>PUEDES VER EL VIDEO DE LA PREPARACIÓN AQUÍ!!!</strong></p><br>
        <div style="text-align: center;">
            <a href=""></a><iframe width="500" height="250" src="https://www.youtube.com/embed/hxnkDELVCZg"
                title="🔴 Como hacer MAZAMORRA - Receta Tradicional 🇦🇷" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div> <br>
        <a href="https://www.cucinare.tv/2024/07/02/origen-de-la-mazamorra-el-postre-mas-argentino-la-receta-mas-facil-para-hacerla-en-casa/"
            target="_blank">PUEDES LEER ESTA RECETA EN "CUCINARE.TV"!!</a><br>
        <a href="receta1.html" target="_self">LEER RECETA DE EMPANADAS DE HUMITA</a><br>
        <a href="../../index.html">VOLVER AL INICIO</a>