<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>Pastelitos de Menbrillo</title>
</head>
<body>
    <h1>Receta de Pastelitos de Membrillo</h1> <br>
    <hr>
    <div style="text-align: center;">
    <img src="../img/pastelitos-de-membrillo.jpg" alt="Pastelitos de Membrillo">
    </div> <br>
<h3>Lista de ingredientes</h3>
<ul></ul>
<li>24 tapas para pastelitos</li>
<li>dulce de membrillo</li>
<li>aceite para freir</li><br>
<h3>Preparación</h3>
<ol type="I"><br>
<li>Colocar un cubo de dulce de membrillo en el centro de cada tapa para pastelitos</li>
<li>Pincelar con agua alrededor del dulce de membrillo</li>
<li>Cubrir con otro cuadrado de masa con las puntas superpuestas.</li>
<li>Pellizcar de abajo la masa, presionando en los bordes para cerrar los pastelitos.</li>
<li>Freír con abundante aceite o grasa caliente hasta que se doren.</li>
<li>Retirar y reservar</li>
<li>Si se desea, pasar por almíbar o espolvorear con azúcar impalpable o azúcar común</li>
<li>Y a disfrutar!!</li><br>
<p>Ver el video de la preparación!!!</p><br>
<div style="text-align: center;">
<a href=""></a><iframe width="500" height="250" src="https://www.youtube.com/embed/5AyI9B4s9_E" title="Molinos Río de la Plata - Receta Pastelitos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div> <br>
<a href="public/views/receta1.html" target="_self">Leer esta receta</a><br>
<a href="receta1.html" target="_self">Leer receta de Locro Criollo</a><br>
<a href="../../index.html">Ir al inicio</a>




